@model (Drudoca.Blog.Domain.BlogPost post, bool isFull)

@{
    var (post, isFull) = Model;
}

<div class="blog-post">
    <h1 class="post-title">
        <a class="text-dark"
           asp-page="/Post"
           asp-route-year="@post.PublishedOn.Year"
           asp-route-month="@post.PublishedOn.Month"
           asp-route-day="@post.PublishedOn.Day"
           asp-route-slug="@post.Slug">
            @post.Title
        </a>
    </h1>
    <p class="publish-info lead">
        <small>
            <i class="far fa-calendar"></i>
            <span class="post-published-on">@post.PublishedOn.ToString("dd MMMM yyyy")</span>
        </small>
        <small class="ml-2">
            <i class="fas fa-pen-nib"></i>
            <span class="post-author">@post.Author</span>
        </small>
    </p>
    
    @if (isFull)
    {
        <div class="post-body">
            @Html.Raw(post.Html)
        </div>
    }
    else
    {
        <div class="post-body">
            @Html.Raw(post.IntroHtml ?? post.Html)
        </div>

        @if (post.IntroHtml != null)
        {
            <div class="post-read-more">
                <a asp-page="/Post"
                   asp-route-year="@post.PublishedOn.Year"
                   asp-route-month="@post.PublishedOn.Month"
                   asp-route-day="@post.PublishedOn.Day"
                   asp-route-slug="@post.Slug">
                    Read more
                </a>
            </div>
        }
    }
</div>