@model Drudoca.Blog.Domain.BlogPost

<div class="blog-post">
    <h2 class="post-title">
        <a asp-page="Post"
           asp-route-year="@Model.PublishedOn.Year"
           asp-route-month="@Model.PublishedOn.Month"
           asp-route-day="@Model.PublishedOn.Day"
           asp-route-slug="@Model.Slug">
            @Model.Title
        </a>
    </h2>
    <h3 class="post-published">Published @Model.PublishedOn.ToString("Y")</h3>
    <h3 class="post-author">Author @Model.Author</h3>

    <div class="post-body">
        @Html.Raw(Model.Html)
    </div>
</div>