@model PostPartialModel

@{
    if (Model is null)
    {
        throw new ArgumentNullException(nameof(Model));
    }
}
@{
    var post = Model.Post;
}

<article class="blog-post">
    <header>
        <h1 class="post-title">
            <a class="text-dark"
               asp-page="/Post"
               asp-route-year="@post.PublishedOn.Year"
               asp-route-month="@post.PublishedOn.Month"
               asp-route-day="@post.PublishedOn.Day"
               asp-route-slug="@post.Slug">
                @post.Title
            </a>
        </h1>
        <p class="publish-info lead">
            <small>
                <i class="far fa-calendar"></i>
                <span class="post-published-on">@post.PublishedOn.ToString("dd MMMM yyyy")</span>
            </small>
            <small class="ml-2">
                <i class="fas fa-pen-nib"></i>
                <span class="post-author">@post.Author</span>
            </small>
        </p>
    </header>

    @if (!Model.OnlyIntro)
    {
        <section class="post-body">
            @Html.Raw(post.Html)
        </section>
    }
    else
    {
        <section class="post-body">
            @Html.Raw(post.IntroHtml ?? post.Html)
        </section>

        @if (post.IntroHtml != null)
        {
            <div class="post-read-more">
                <a asp-page="/Post"
                   asp-route-year="@post.PublishedOn.Year"
                   asp-route-month="@post.PublishedOn.Month"
                   asp-route-day="@post.PublishedOn.Day"
                   asp-route-slug="@post.Slug">
                    Read more
                </a>

                @if (Model.NumComments > 0)
                {
                    <a class="float-right"
                       asp-page="/Post"
                       asp-route-year="@post.PublishedOn.Year"
                       asp-route-month="@post.PublishedOn.Month"
                       asp-route-day="@post.PublishedOn.Day"
                       asp-route-slug="@post.Slug"
                       asp-fragment="comments">
                        @Model.NumComments <i class="far fa-comment"></i>
                    </a>
                }
            </div>
        }
    }
</article>